{% extends "layout/base.html" %}


{% block content %}

<div class="container pt-4">
    {% if messages %}
    <div class="messages">
        {% for message in messages %}
        <div class="{{ message.tags }} alert-dismissible fade show">
            {{ message }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        {% endfor %}
    </div>
    {% endif %}
</div>
{% for i in tag %}
<h2>{{ i.category.title }}</h2>
<h2>{{ i.tags }}</h2>
{% endfor %}
{% endblock %}